body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #6943FF;
}

h1 {
    margin-top: 33px;
    color: #fff;
    font-weight: 800;
    line-height: 38px;
}

h3 {
    color: #CCC1FF;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}

#input {
    max-width: 117px;
    text-align: center;
    color: #fff;
    font-size: 58px;
    font-family: Inter;
    font-weight: 800;
    line-height: 24.39px;
    background: none;
    border: 2px solid #B295FF;
    border-radius: 5px;
    margin-bottom: 27px;
}

#main {
    display: flex;
    flex-direction: column;
    background: #1F2937;
    padding: 36px 25px;
    gap: 23px;
    height: 100vh;
}

.calculations {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

#calc {
    display: flex;
    width: 100%;
    background: #273549; 
    justify-content: center;
    align-items: center;
}

#text-calc {
    display: flex;
    flex-direction: column;
    padding-top: 13px;
    padding-bottom: 19px;
}

#btn {
    color: #3D3D3D;
    background: #fff;
    border-radius: 5px;
    border: none;
    padding: 9px 28px;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 34px;
}