body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1C1C1C;
    color: #fff;
    font-family: 'Karla', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    height: 550px;
    background: #1F2937;
}

#text {
    display: flex;
    flex-direction: column;
}

#content {
    margin-left: 52px;
    margin-right: 52px;
}

#btn-pws {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 35px;
}

hr {
    background: #273549;
    height: 1px;
    width: 100%;
    border: 0
}

h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    width: 360px;
    margin: 0
}

p {
    color: #D5D4D8;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 50px;
}

#btn {
    background: #10B981;
    color: #fff;
    padding: 9px 15px;
    border: 0;
    border-radius: 7px;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
}

#span {
    color: #4ADF86;
}

#passwords {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 24px;
}

.password {
    padding: 5px 15px;
    color: #55F991;
    width: 180px;
    height: 32px;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    line-height: 32px;
    background: #273549;
    border-radius: 7px;
}